
  <div class="left-half-map" >
    <div id="map" style="width: 100%; height: 100vh;"></div>
                  <% content_for(:after_js) do %>
                   <script> var markers = <%= raw @all_assets_hash.to_json %>

                    initMap(markers) </script>
                  <% end %>

  </div>


  <div class="right-half-listings">
    <div class="container-fluid">
      <div class="row">
        <% @assets.each do |asset| %>
          <div class="col-xs-12 col-sm-12 col-md-6 search-col" >
            <%= render "assets/asset", asset: asset %>
          </div>
        <% end %>
      </div>
    </div>
  </div>


