/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
$base-font: 'Open Sans', sans-serif;
$header-font: 'Roboto Slab', serif;

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;


$blue-dark: #093042;
$blue: #1476A2;
$blue-steroid: #61C6F4;
$brand-color: $blue-steroid;
$white: #F7FCFF;
