/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
$base-font: 'Open Sans', sans-serif;
$header-font: 'Roboto Slab', serif;

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;

$blue-dark: #093042;
$blue: #1476A2;
$blue-steroid: #61C6F4;
$brand-color: $blue-steroid;
$white: #F7FCFF;

$font-family-sans-serif:  $base-font;
$body-bg:                 #F4F4F4;;
$font-size-base:          $base-size;
$line-height-base:        $base-height;
$headings-font-family:    $header-font;

// Semantic color scheme
// => http://getbootstrap.com/customize/#colors
$gray-base:       $gray;
$brand-primary:   $blue-steroid;
$brand-success:   $green;
$brand-info:      $blue-steroid;
$brand-danger:    $red;
$brand-warning:   $orange;

// Buttons / inputs radius
$border-radius-base:  2px;
$border-radius-large: 2px;
$border-radius-small: 2px;
