<h1>All my Offers</h1>

<div class="container">
  <div class="row">
    <% current_user.offers.each do |off| %>
      <div class="col-xs-12 col-sm-4">
        <%= off %>
      </div>
    <% end %>
  </div>
</div>
