<div class="banner">
  <div class="banner-content">
    <h1>Findaroof</h1>
    <p>Welcome Home</p>
    <div class="banner-content links">
      <%= form_tag "/admin/assets", method: :get, class: 'findaroof-form-group' do  %>
      <%= text_field_tag(:query, nil, placeholder: "Where do you want to live? Search by address, city, or post code.", class: 'findaroof-search-form')%>
      <%= submit_tag("Search", class: 'findaroof-button')%>
      <% end %>
    </div>

  </div>
</div>
