<div class="banner">
  <div class="banner-content">
    <h1>FindARoof</h1>
    <p>Welcome Home</p>
    <div class="banner-content links">
      <%= form_tag "/admin/assets", method: :get do  %>
      <%= text_field_tag(:query)%>
      <%= submit_tag("Search") %>
      <% end %>

    </div>

  </div>
</div>
