<div class="footer-findaroof">

 <div class="footer-nav-links">
  <div class="footer-nav-links-left">
    <ul class="footer-findaroof-list">
      <li><a href="" class="footer-findaroof-item footer-findaroof-header">FindARoof</a></li>
      <li><a href="" class="footer-findaroof-item footer-findaroof-link">Team</a></li>
      <li><a href="" class="footer-findaroof-item footer-findaroof-link">Contact</a></li>
      <li><a href="" class="footer-findaroof-item footer-findaroof-link">Press</a></li>
      <li><a href="" class="footer-findaroof-item footer-findaroof-link">Careers</a></li>
    </ul>
  </div>

  <div class="footer-nav-links-middle">
    <ul class="footer-findaroof-list">
      <li><a href="" class="footer-findaroof-item footer-findaroof-header">Sellers</a></li>
      <li><a href="" class="footer-findaroof-item footer-findaroof-link">Help</a></li>
      <li><a href="" class="footer-findaroof-item footer-findaroof-link">FAQ</a></li>
      <li><a href="" class="footer-findaroof-item footer-findaroof-link">Legal</a></li>
      <li><a href="" class="footer-findaroof-item footer-findaroof-link">Financial</a></li>
    </ul>
  </div>

  <div class="footer-nav-links-right">
    <ul class="footer-findaroof-list">
      <li><a href="" class="footer-findaroof-item footer-findaroof-header">Investors</a></li>
      <li><a href="" class="footer-findaroof-item footer-findaroof-link">Help</a></li>
      <li><a href="" class="footer-findaroof-item footer-findaroof-link">FAQ</a></li>
      <li><a href="" class="footer-findaroof-item footer-findaroof-link">Disclosure</a></li>
      <li><a href="" class="footer-findaroof-item footer-findaroof-link">Forms</a></li>
    </ul>
  </div>
 </div>

  <div class="footer-nav-icons">
    <ul class="list-inline">
      <li> <a target="_blank" href="https://www.facebook.com/Findaroof-1800556840215381/?view_public_for=1800556840215381" class="footer-findaroof-item footer-findaroof-link"> <i class="fa fa-facebook"></i></a></li>
      <li class="footer-findaroof-copyright">©FindARoof<li>
    </ul>
  </div>
</div>
