<% if current_user %>
  <h1>All My Assets</h1>
  <h2><%= link_to "Add a new asset", new_user_asset_path %></h2>
  <div class="container">
    <div class="row">
      <% @assets.each do |ass| %>
        <div class="col-xs-12 col-sm-4">
        <%= render "asset", asset: ass %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <h1>All Assets for Sale</h1>
  <div class="container">
    <div class="row">
      <% @assets.each do |ass| %>
        <div class="col-xs-12 col-sm-4">
        <%= render "asset", asset: ass %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>


