<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 post-form-title-grey">
      <h1 class="findaroof-title">Upload your listing</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 new-asset-grey">
      <%= render "form" %>
    </div>
  </div>
</div>
