<div class="container">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 post-form-title-blue">
      <h1 class="title-new-asset-upload">Upload your listing</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 new-asset-grey">
      <%= render "form" %>
    </div>
  </div>
</div>
