<div class="container">
  <div class="row">
    <div class="col-sm-6">
        <%= simple_form_for [current_user, @asset, @offer] do |f| %>
          <%= f.input :offer_type %>
          <%= f.submit "Submit new offer" %>
        <% end %>
    </div>
  </div>
</div>
