<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <%= simple_form_for [@user, @asset, @offer], :url => user_assets_path, :method => :post do |f| %>
        <%= f.input :status, collection: ["Accept", "Deny"]%>
        <%= f.submit "submit" %>
      <% end %>
    </div>
  </div>
</div>
