
<div class="container">
  <h1 class = "text-center"> All Offers</h1>
  <div class="smallercard">
    <!-- <div class="card-body"> -->
      <div class="container">
         <% @offers.each do |offer| %>
          <div class="row">
          <div class="col-xs-12 col-sm-4 smallercard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://lorempixel.com/400/400/sports');">
            <h4><%= offer.asset.title %></h4>
            <h4><%= offer.offer_date %></h4>
            <p><%= offer.status %></p>
        <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>


