<% if current_user %>
 <div class="container user-assets-container">
    <div class="col-lg-12 user-assets-title">
    <h1 class="findaroof-title"> Your offers</h1>
    </div>
  </div>

   <div class="container user-assets-container">
      <div class="col-lg-12 user-assets-title">
        <h1 class="findaroof-title">Your submitted offers</h1>
      </div>
       <% @offers.each do |offer| %>
            <div class="col-lg-4 col-md-6 col-xs-12 user-assets-col">
            <%= render "offer_card", offer: offer  %>
            </div>
        <% end %>
    </div>

    <div class="container user-assets-container">
      <div class="col-lg-12 user-assets-title">
        <h1 class="findaroof-title">Your received offers</h1>
      </div>
       <% @assets_offers.each do |offers| %>
        <% offers.each do |offer| %>
            <div class="col-lg-4 col-md-6 col-xs-12 user-assets-col">
            <%= render "offer_card", offer: offer  %>
            </div>
        <% end %>
        <% end %>
    </div>

<% end %>




