.offerbox{
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
}

.offercard {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  margin-bottom: 0px;
  height: 380px;
  position: relative;
  border-radius: 2px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));
}

.offcardtop {
  border-top: 1px #999999 solid;
  border-right: 1px #999999 solid;
  border-left: 1px #999999 solid;
  height: 30px;


}
.offercardinfo {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cardtop-info {
  margin-bottom: 0px;
}

.offcardbot {
  border-bottom: 1px #999999 solid;
  border-right: 1px #999999 solid;
  border-left: 1px #999999 solid;
  height: 40px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;

}
.offuser-image {
  position: absolute;
  top: 10px;
  right: 10px;
}
.offinfor {
  position: absolute;
  bottom: 10px;
}
.offcardpic {
  height: 380px;
  min-width: 320px;
  position: relative;
  background-position: center center;
  background-size: cover;
  color: black;
  font-weight: bold;
}

.offercheck {
  color: green
}

.offercheck2 {
  color: red;
}


.card-description-offer-price {
  position: relative;
  margin: 0 0 auto;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  width: auto;
  color:  #666768;
}

.card-description-offer-date {
  position: relative;
  margin: 0 0 auto;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  width: auto;
  color:  #666768;
}

.card-description-offer-title {
  position: relative;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color:  #666768;
}

.offer-title {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #DFDFDF;
}

.offer-right {
  width: 50%;
  height: auto;
  float: left;
  position: relative;
  // padding-top: 2px;
  // padding-bottom: 2px;
  color: #666768;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #DFDFDF;
}

.offer-left {
  width: 50%;
  height: auto;
  float: right;
  position: relative;
  color: #666768;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #DFDFDF;
}

.offer-avatar {
   width: 50px;
   border-radius: 50%;
}

.overlay-left-offer-from {
  position: absolute;
  top: 2px;
  left: 2px;
  color: #ffffff;
}

.offer-button {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-bottom: 1px solid #DFDFDF;
}

.offer-button a {
  margin-top: 5px;
}
