.showcard {

  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: black;
  position: relative;

  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  border: 1px solid black;

}

.showcard-title {
  text-align: center;
}
.showcard-body {
  position: relative;
  height: 450px;
  width: 100%;

}
.popup-gallery {
  padding-top: 5px;
}

.showcard-location {
  position: absolute;
  right: 60px;
  bottom: 115px;
}

.showcard-user {
  position: absolute;
  left: 10px;
  bottom: 20px;
}
.showcard-region {
  position: absolute;
  right: 60px;
  bottom: 95px;
}
.showcard-category {
  position: absolute;
  bottom: 15px;
  left: 600px;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
}
.showcard-action {
  position: absolute;
  bottom: 15px;
  right: 10px;
}
.showcard-action2 {
  position: absolute;
  bottom: 15px;
  right: 160px;
}
.showcard-description {
  position: absolute;
  bottom: 50px;
  right: 20px;
  font-weight: bold;
  font-size: 30px;
}
.showcard-description h2 {
  font-size: 24px;
}
.showcard-description p {
  font-size: 13px;
  }
.showcard-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.showcard-link:hover{
  opacity: 0.1;
}

.descriptionbox {
  height: 35%;
  width: 50%;
  border: 1px solid black;
  border-radius: 2px;
  position: absolute;
  bottom: 20px;


}

